@use "foundation/variables" as *;
@use "foundation/mixins" as *;

.c-main {
    margin-top: $header-margin;
}
.c-btn {
    &--online-shop {
        @include backgroundImg("#{$img-path}png/bg_online-shop.png");
    }
    &--pulldown {
        position: relative;

        &::after {
            @include backgroundImg("#{$img-path}png/btn_pulldown.png");
            content: "";
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            width: 17px;
            height: 15px;
        }
    }
}
.c-icon {
    &--youtube {
        @include backgroundImg("#{$img-path}svg/footer_youtube.svg");
        width: 40px;
        height: 40px;
    }
    &--instagram {
        @include backgroundImg("#{$img-path}svg/footer_instagram.svg");
        width: 32px;
        height: 32px;
    }
    &--facebook {
        @include backgroundImg("#{$img-path}svg/footer_facebook.svg");
        width: 32px;
        height: 32px;
    }
}