@use "foundation/global" as *;

.p-page-select {

    &__hero {
        &__inner {
            position: relative;
        }
        .c-section__title{
            font-size: 5.1vw;
            margin:auto;
            font-weight:bold;
        }
        .c-section__title--sub{
            font-size: 3.1vw;
            margin:auto;
            font-weight:normal;
        }
        &__img {
            &--top {
                width: 91.8vw;
                display: block;
                margin: 4.8vw auto 0vw;
            }

            &--toptext {
                position: relative;
                width: 65vw;
                display: block;
                margin: 0 auto 3vw;
    
            }
        }

        &__text {
            text-align: center;
            font-family: $font-family-ZenKaku;
            font-weight: $font-weight-medium;
            font-size: 4.10vw;
            line-height: 2.18;
            width: 82.1vw;
            margin: 0 auto;
            word-break: keep-all;
        }
    }

    &__commitment {
        position: relative;
        padding: 5vw 3.8vw;
        &--bg {
            @include backgroundImg("#{$img-path}page/page-select/svg/bg_select.svg");
            background-position: top center;
            background-size: 100% auto;
            margin: 10vw 0 -45vw;
            position: relative;
            padding: 17vw 3.8vw 0 ;
            height: 318.5vw;
        }

        &__img--mark {
            position: absolute;
            top: -17vw;
            width: 65vw;
            display: block;
            left: 0;
        }

        &__selectTitle {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 67vw;
            height: 18.5vw;
            background-image: url("#{$img-path}page/page-select/svg/img_kodawariTitle.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                transform: translateY(-0.5vw);
                font-family: $font-family-ZenKaku;
                font-size: 5.1vw;
                color: #00A684;
            }
        }
        &__link__img{
            width: 100%;
            height: 100%;
        }
        &__link{
            position: absolute;
            &--01 {
                top: 4.8vw;
                width: 43.3vw;
                left: 0vw;
            }
            &--02 {
                width: 43.3vw;
                top: 13.5vw;
                right: 0vw;
            }
            &--03 {
                width: 44.5vw;
                height: auto;
                top: 46vw;
                left: 0vw;
            }
            &--04 {
                width: 42.3vw;
                top: 57vw;
                right: 0vw;
            }
            &--05 {
                width: 43vw;
                top: 89.4vw;
                z-index: 1;
                left: 0vw;
            }
            &--06 {
                width: 44vw;
                top: 103.5vw;
                right: 0vw;
            }
            &--07 {
                width: 43.3vw;
                top: 136.5vw;
                z-index: 1;
                left: 0vw;
            }
            &--08 {
                width: 42.3vw;
                top: 133vw;
                z-index: 1;
                left: 0;
            }
            &--09 {
                width: 42.3vw;
                top: 146.8vw;
                z-index: 1;
                right: 0vw;
            }
            &--10 {
                width: 43.3vw;
                top: 188vw;
                left: 0vw;
                z-index: 1;
            }    
            &--11 {
                width: 43.3vw;
                top: 194vw;
                z-index: 1;
                right: 0vw;
            }    
        }
    }
}

@media screen and (min-width: 768px) {

    .p-page-select {

    &__hero {
        &__inner {
            position: relative;
        }
       .p-page-select__hero__text
        &__img {
            &--top {
                width: 80vw;
                margin: 1.8vw auto 2vw;
            }

            &--toptext {
                width: 25vw;
                bottom: 6vw;
            }
        }

        &__text {
            font-size: 2.1vw;
            line-height: 2;
            width: 72.1vw;
            margin: 0 auto;
            }
        }
        &__commitment {
        padding: 5vw 3.8vw;
        &--bg {
            margin: 5vw 0 -45vw;
            padding: 14vw 3.8vw 0 ;
            height: 195vw;
        }

        &__img--mark {
            top: -5vw;
            width: 36vw;
            left: 21vw;
        }

        &__selectTitle {
            width: 35vw;
            height: 9.5vw;
            span {
                font-size: 2.6vw;
            }
        }
        &__link{
            &--01 {
                top: 7.8vw;
                width: 26.9vw;
                left: 3vw;
                }
            &--02 {
                width: 27vw;
                top: 3.5vw;
                right: 33vw;
                }
            &--03 {
                width: 27.7vw;
                top: 9vw;
                left: 62vw;
                }
            &--04 {
                width: 25.3vw;
                top: 31vw;
                right: 49vw;
                }
            &--05 {
                width: 27vw;
                top: 29.4vw;
                left: 47vw;
                }
            &--06 {
                width: 26.9vw;
                top: 57.5vw;
                right: 61vw;
                }
            &--08 {
                width: 25.6vw;
                top: 55vw;
                left: 34vw;
                }
            &--09 {
                width: 24.8vw;
                top: 57.8vw;
                right: 5vw;
                }
            &--10 {
                 width: 27.8vw;
                top: 86vw;
                left: 15vw;
                }    
            &--11 {
                width: 28.2vw;
                top: 85vw;
                right: 14vw;
                }    
            }
        }
    }
}