.p-page-select-detail {
	$detail: &;

	@media screen and (min-width: 768px) and (max-width: 1023px) {
		&--fish #{$detail}__about__content--imgWrap > #{$detail}__about__content--catWorkerAnchor > picture {
			flex: 0 0 calc((100% - 2.6vw) / 2);
			width: calc((100% - 2.6vw) / 2);

			> #{$detail}__about__content--imgSmall {
				width: 100%;
				height: auto;
			}
		}
	}

	&--fish {
		#{$detail}__message--bg {
			padding-bottom: 4vw;
		}

		#{$detail}__news__titleSp {
			white-space: nowrap;
		}

		@media screen and (max-width: 767px) {
			#{$detail}__about__bg {
				padding-bottom: 32.46vw;
			}

			#{$detail}__message--bg {
				padding-bottom: 14vw;
			}

			#{$detail}__news__bg {
				padding-top: 22vw;
			}
		}

		#{$detail}__message--backgroundDecoration-wave {
			right: 2vw;
			bottom: -14vw;
			width: 36.41vw;
			aspect-ratio: 36.41 / 34.87;
		}

		#{$detail}__about__backgroundDecoration {
			&--desktopAnchor {
				display: none;
			}
			&--laptopAnchor {
				display: none;
			}

			&--fisherman#{$detail}__about__backgroundDecoration--legacyAnchor {
				top: 50vw;
				left: -0.26vw;
				width: 24.1vw;
				aspect-ratio: 24.1 / 21.54;
			}

			&--cat-and-worker {
				z-index: 2;
				top: 435vw;
				left: 55.9vw;
				width: 32.99vw;
				aspect-ratio: 32.99 / 18.46;
			}

			&--calico-cat {
				z-index: 1;
				display: none;
			}

			&--worker {
				top: 866vw;
				left: 4.36vw;
				width: 26.15vw;
				aspect-ratio: 26.15 / 26.92;
			}
		}

		#{$detail}__news__foregroundDecoration--fish {
			top: -11vw;
			right: 6vw;
			width: 50.66vw;
			aspect-ratio: 50.66 / 29.41;
		}

		#{$detail}__news__foregroundDecoration--desktopAnchor {
			display: none;
		}

		@media screen and (min-width: 768px) {
			#{$detail}__message--backgroundDecoration-wave {
				width: 26vw;
				right: 12vw;
				bottom: -11vw;
			}

			#{$detail}__about__backgroundDecoration {
				&--fisherman#{$detail}__about__backgroundDecoration--legacyAnchor {
					width: 20vw;
					top: 57vw;
					left: 15.74vw;
				}

				&--cat-and-worker {
					top: 284vw;
					left: 57vw;
					width: 34vw;
				}

				&--worker {
					display: none;
				}
			}

			#{$detail}__news__foregroundDecoration--fish {
				width: 30vw;
				top: -1vw;
				right: 8vw;
			}
		}

		@media screen and (min-width: 768px) and (max-width: 1023px) {
			#{$detail}__news__bg {
				margin-top: -4vw;
			}
		}

		@media screen and (min-width: 1024px) and (max-width: 1279px) {
			#{$detail}__news {
				margin-top: -7.92vw;
			}
		}

		@media screen and (min-width: 1024px) {
			#{$detail}__about__content--secondaryImageAnchor {
				position: relative;
				display: block;
				width: 100%;
			}

			#{$detail}__message--backgroundDecoration-wave {
				display: none;
			}

			#{$detail}__about__backgroundDecoration {
				&--worker-and-cat-2#{$detail}__about__backgroundDecoration--desktopAnchor {
					z-index: 3;
					top: -11vw;
					right: -15vw;
					display: block;
					width: 12vw;
					aspect-ratio: 177 / 293;
				}

				&--wave#{$detail}__about__backgroundDecoration--laptopAnchor {
					z-index: 3;
					top: 41.6vw;
					left: 18vw;
					display: block;
					width: 17vw;
					aspect-ratio: 36.41 / 34.87;
				}

				&--fisherman#{$detail}__about__backgroundDecoration--legacyAnchor {
					z-index: 4;
					top: 41vw;
					left: 6vw;
					width: 17vw;
				}

				&--cat-and-worker {
					top: 208vw;
					left: 60vw;
					width: 24vw;
				}

				&--calico-cat {
					display: block;
					top: 213.2vw;
					left: 56vw;
					width: 6vw;
				}

				&--worker {
					display: block;
					top: 286vw;
					left: 75vw;
					width: 16vw;
					transform: scaleX(-1);
				}
			}

			#{$detail}__news__foregroundDecoration--fish {
				top: 2vw;
				right: 16vw;
				width: 17vw;
			}
		}

		@media screen and (min-width: 1280px) {
			#{$detail}__news {
				margin-top: -130px;
			}

			#{$detail}__message--backgroundDecoration-wave {
				display: block;
			}

			#{$detail}__message--backgroundDecoration-legacyAnchor,
			#{$detail}__about__backgroundDecoration--legacyAnchor {
				display: none;
			}

			#{$detail}__news__foregroundDecoration--legacyAnchor {
				display: none;
			}

			#{$detail}__about__backgroundDecoration {
				&--desktopAnchor {
					display: block;
				}
				&--wave#{$detail}__about__backgroundDecoration--laptopAnchor {
					display: none;
				}

				&--wave#{$detail}__about__backgroundDecoration--desktopAnchor {
					top: -42px;
					left: -9px;
					width: 268.8px;
				}

				&--fisherman#{$detail}__about__backgroundDecoration--desktopAnchor {
					top: -53px;
					left: -190px;
					width: 264px;
				}

				&--cat-and-worker#{$detail}__about__backgroundDecoration--desktopAnchor {
					top: 63px;
					right: -429px;
					left: auto;
					width: 302px;
				}

				&--calico-cat#{$detail}__about__backgroundDecoration--desktopAnchor {
					top: 124px;
					left: 435px;
					width: 79.67px;
				}

				&--worker#{$detail}__about__backgroundDecoration--desktopAnchor {
					top: -140px;
					right: -147px;
					left: auto;
					width: 240px;
				}

				&--worker-and-cat-2#{$detail}__about__backgroundDecoration--desktopAnchor {
					top: -156px;
					right: -220px;
					width: 177px;
				}
			}

			#{$detail}__news__foregroundDecoration--fish#{$detail}__news__foregroundDecoration--desktopAnchor {
				display: block;
				top: -212px;
				right: -46px;
				width: 217.69px;
			}
		}
	}
}
