@use "foundation/global" as *;

.p-page-select {

    &__hero {
        &__inner {
            position: relative;
        }
        .c-section__title{
            font-size: 5.1vw;
            margin:auto;
            font-weight:bold;
        }
        .c-section__title--sub{
            font-size: 3.1vw;
            margin:auto;
            font-weight:normal;
        }
        &__img {
            &--top {
                width: 91.8vw;
                display: block;
                margin: 4.8vw auto 5vw;
            }

            &--toptext {
                position: absolute;
                width: 65vw;
                display: block;
                left: 50%;
                bottom: 1vw;
                transform: translateX(-50%);
            }
        }

        &__text {
            text-align: center;
            font-family: $font-family-ZenKaku;
            font-weight: $font-weight-medium;
            font-size: 4.10vw;
            line-height: 2.18;
            width: 82.1vw;
            margin: 0 auto;
            word-break: keep-all;
        }
    }

    &__commitment {
        position: relative;
        padding: 5vw 3.8vw;
        &--bg {
            @include backgroundImg("#{$img-path}page/page-select/svg/bg_select.svg");
            background-position: top center;
            background-size: 100% auto;
            margin-top: 10vw;
            position: relative;
            padding: 17vw 3.8vw 0 ;
            height: 318.5vw;
        }

        &__img--mark {
            position: absolute;
            top: -17vw;
            width: 65vw;
            display: block;
        }

        &__selectTitle {
            position: relative;
            left: 50%;
            transform: translateX(-50%);
            width: 67vw;
            height: 18.5vw;
            background-image: url("#{$img-path}page/page-select/svg/img_kodawariTitle.svg");
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            display: flex;
            align-items: center;
            justify-content: center;

            span {
                transform: translateY(-0.5vw);
                font-family: $font-family-ZenKaku;
                font-size: 5.1vw;
                color: #00A684;
            }
        }
        &__link__img{
            width: 100%;
            height: 100%;
        }
        &__link{
            position: absolute;
            &--01 {
                top: 4.8vw;
                width: 43.3vw;
                left: 0vw;
            }
            &--02 {
                width: 43.3vw;
                top: 13.5vw;
                right: 0vw;
            }
            &--03 {
                width: 44.5vw;
                height: auto;
                top: 46vw;
                left: 0vw;
            }
            &--04 {
                width: 42.3vw;
                top: 57vw;
                right: 0vw;
            }
            &--05 {
                width: 43vw;
                top: 89.4vw;
                z-index: 1;
                left: 0vw;
            }
            &--06 {
                width: 44vw;
                top: 103.5vw;
                right: 0vw;
            }
            &--07 {
                width: 43.3vw;
                top: 136.5vw;
                z-index: 1;
                left: 0vw;
            }
            &--08 {
                width: 42.3vw;
                top: 148vw;
                right: 0vw;
                z-index: 1;
            }
            &--09 {
                width: 42.3vw;
                top: 183.8vw;
                z-index: 1;
                left: 0vw;
            }
            &--10 {
                width: 43.3vw;
                top: 204vw;
                right: 0vw;
                z-index: 1;
            }    
            &--11 {
                width: 43.3vw;
                top: 231vw;
                z-index: 1;
                left: 0vw;
            }    
        }
    }
}

@media screen and (min-width: 768px) {

    
}