@use "foundation/global" as *;

.p-page-shop {
    /**
     * ページ背景
     */
    &__bg {
        &--top {
            @include backgroundImg("#{$img-path}page/page-shop/bg_top.png");
            width: 100%;
            aspect-ratio: 390 / 657;
            padding-top: 47.69vw;
            box-sizing: border-box;

            .c-section {
                &__title--sub {
                    margin-bottom: 73vw;
                }
            }
        }
    }

    /**
     * ページコンテンツ
     */
    .c-shop-card-list {
        flex-direction: column;
        gap: 3.84vw 0;
        width: 89.74vw;
        margin: 0 auto;
    }
    .c-shop-card {
        padding: 6.15vw 0 5.64vw;
        border-radius: 4.61vw;

        &__name {
            width:  fit-content;
            text-decoration: none;
            font-size: 4.10vw;
            margin: 0 auto 4.87vw;
        }
    }

    &__section {
        margin-bottom: 20.25vw;

        &:last-child {
            margin-bottom: 28.20vw;
        }

        .c-section {
            &__title--sub {
                margin-bottom: 6.66vw;
            }
        }
    }
    &__scroll {
        display: flex;
        justify-content: space-between;
        width: 89.23vw;
        margin: 0 auto;

        &__link {
            @include backgroundImg("#{$img-path}page/page-shop/svg/btn_green-sp.svg");
            display: flex;
            justify-content: center;
            align-items: center;
            width: 27.69vw;
            aspect-ratio: 108 / 38;
            color: #fff;
            font-size: 4.10vw;
            font-weight: bold;
        }
    }
}

// Tablet
@media screen and (min-width: 768px) {
.p-page-shop {
    /**
     * background
     */
    &__bg {
        &--top {
            .c-section {
                &__title--sub {
                    margin-bottom: 52.08vw;
                }
            }
        }
    }

    .c-shop-card-list {
        gap: 5.21vw 0;
        width: 89.58vw;
    }
    .c-shop-card {
        padding: 8.85vw 0 8.12vw;
        border-radius: 6.25vw;

        &__name {
            font-size: 5.21vw;
            margin: 0 auto 6.25vw;
        }
    }

    &__section {
        margin-bottom: 27.08vw;

        &:last-child {
            margin-bottom: 37.50vw;
        }

        .c-section {
            &__title--sub {
                margin-bottom: 8.85vw;
            }
        }
    }
    &__scroll {
        width: 89.23vw;

        &__link {
            width: 27.69vw;
            aspect-ratio: 108 / 38;
            font-size: 5.21vw;
        }
    }
}
}